<div>
  <h2>Add New Diary Entry</h2>

  <form [formGroup]="diaryEntryForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" required>
    </div>
    <div>
      <label for="content">Content:</label>
      <textarea id="content" formControlName="content" required></textarea>
    </div>
    <div>
      <button type="submit" [disabled]="diaryEntryForm.invalid">Add Entry</button>
    </div>
  </form>
  <div class="search-container">
    <input type="text" placeholder="Search by Content" [(ngModel)]="searchTerm">
    <button class="sort-button" (click)="sortByTime()">Sort by Time</button>
  </div>
  <div class="diarynote" *ngFor="let entry of filteredEntries">
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.creationTime | date:'short' }}</p>
    <p>{{ entry.content }}</p>
    <div class="button-container">
      <button (click)="copyToClipboard(entry)">Copy to clipboard</button>
      <button (click)="deleteDiaryEntry(entry.id)">Delete</button>
    </div>
  </div>


  <div *ngIf="!diaryEntries || diaryEntries.length === 0">
    <p>No diary entries found.</p>
  </div>
</div>
